<div class="action">
  <div class="positioning-statement">
    A survey of media about coding.
  </div>
  <div class="link-column">
    <a href="readme.html" class="lead-button">Read online
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    <a href="http://orm-atlas2-prod.s3.amazonaws.com/pdf/bc5c3d8af6b67088978ea1669b210579.pdf" class="lead-button">Download
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>
  </div>
</div>

<div class="contributing">
  <h3>How to contribute</h3>

  <p>To contribute:</p>
  <ol>
    <li><a href="https://github.com/odewahn/code-as-media">Fork the repo</a>.</li>
    <li>Send a pull request.</li>
    <li>We'll discuss it.</li>
  </ol>
</div>

<div class="contents col-md-6">
  <h2>Contents</h2>
  <%- partial("_toc") %>
</div>
<div class="testmonials col-md-6">
  <h2>Testimonials</h2>
  <%- partial("_testimonials") %>
</div>
